::selection {
    background-color: #993CCF;
    color: #FFA937;
}
.hc {
 position: absolute;
    display: block;
    width: 100px;
    height: auto;
    top: 0;
    left: 0;
}

.acc {
     position: absolute;
    display: block;
    width: 35px;
    height: auto;
    top: 10px;
    left: 185vh;
}
body {
    background-image: url('assets/desktop-wallpaper.jpg');
}

.notes-text{
    font-family: "Seaweed Script", cursive;
    font-size: x-large;
    color: black;
    position: absolute;
    display: block;
    left: 2;
}

.notes {
    color: #000;
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    top: 100px;
    left: 50px;
}

